<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/enderecoDeEntrega.css">
  <title>Menina dos Sapatos - Endereço de Entrega</title>
</head>

<body>
  <%- include("./partials/header") %>
    <main>
      <div class="container">
        <div class="minhaConta">
          <h1>Minha Conta</h1>
          <nav id="submenu">
            <ul class="opcoes">
              <li class="menu1"><a class="link1" href="/Login/perfil">Meu Perfil</a></li>
              <li class="menu1"><a class="link2" href="/enderecoDeEntrega">Endereço de Entrega</a></li>
              <li class="menu1"><a class="link1" href="/dadosDePagamento">Dados de Pagamento</a></li>           
              <li class="menu1"><a class="link1" href="/politicas">Trocas e Devoluções</a></li>
            </ul>
          </nav>
        </div>
        <div id="address-container">
          <h1>Cadastre seu endereço</h1>
          <div id="profile-container">
            <!--Carregar dados do cadastro-->
          </div>
          <div id="adress-register">
            <form id="form-address">
              <div class="full-box">
                <label for="cep">CEP</label>
                <input type="text" name="cep" id="cep" placeholder="Digite seu cep">
              </div>
              <div class="full-box">
                <label for="street">Rua</label>
                <input type="text" name="street" id="street">
              </div>
              <div class="half-box spacing">
                <label for="number">Numero</label>
                <input type="text" name="number" id="number">
              </div>
              <div class="half-box">
                <label for="neighborhood">Bairro</label>
                <input type="text" name="neighborhood" id="neighborhood">
              </div>
              <div class="half-box spacing">
                <label for="city">Cidade</label>
                <input type="text" name="city" id="city">
              </div>
              <div class="half-box">
                <label for="state">Estado</label>
                <input type="text" name="state" id="state">
              </div>
              <div class="full-box">
                <input type="submit" id="btn-submit" value="Salvar">
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <script src="./js/buscaCep.js"></script>

    <%- include("./partials/footer") %>
</body>

</html>