<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menina dos Sapatos</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://kit.fontawesome.com/32cf0bc5ba.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- HEADER - MENU PRINCIPAL -->
    <%- include("./partials/header") %>
    <main>
      <div id="main-container">
          <h1>Login</h1>
          <form id="login-form" action="/login" method="post">
              <div class="full-box">
                  <label for="login">Login</label>
                  <input type="email" name="login" id="login" placeholder="Digite seu e-mail" data-min-length="2"
                      data-email-validate>
              </div>
              <div class="full-box">
                  <label for="password">Senha</label>
                  <input type="password" name="password" id="password" placeholder="Digite sua senha"
                      data-password-validate data-required>
              </div>
              <div class="full-box">
                  <input type="submit" id="btn-submit" value="Entrar">
              </div>
               <!--
              <div id="social-box">
                  <p>Ou entre pelas suas redes sociais</p>
              </div>
             
              <div class="social-box" >
                  <a href="http://facebook.com"><i class="fa-brands fa-facebook fa-2x" id="facebook"></i></a>
                  <a href="http://linkedin.com"><i class="fa-brands fa-linkedin fa-2x" id="linkedin"></i></a>
                  <a href="http://instagram.com"><i class="fa-brands fa-instagram fa-2x" id="instagram"></i></a>
              </div> 
              -->
              <div id="register-box">
                  <p>Ainda não tem uma conta?</p>
                  <a href="/login/cadastro">Registre-se aqui</a>
              </div>
          </form>
      </div>
  </main>

  <script src="../public/js/login.js"></script>

    <%- include("./partials/footer") %>
  </body>

</html>