<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">git
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/sacola.css">
  <title>Menina dos Sapatos - Sacola</title>

</head>

<body>
  <%- include("./partials/header") %>
    <main>
      <div class="sacola-titulo">
        <h1 class="sac-titulo">Sacola de Compras</h1>
      </div>
      <div class="container-main">
        <section id="sacola-container">
     
              <input type="checkbox" name="embalagem" id="embalagem"><label for="embalagem"> Adicionar emabalagem para
                presente?</label> <br>
              <p><select name="numeracao" id="numeracao">
                  <option selected disabled>Número</option>
                  <option value="33">33</option>
                  <option value="34">34</option>
                  <option value="35">35</option>
                  <option value="36">36</option>
                  <option value="37">37</option>
                  <option value="38">38</option>
                  <option value="39">39</option>
                  <option value="40">40</option>
                  <option value="41">41</option>
                </select></p>
              <p><select name="quantidade" id="quantidade">
                  <option selected disabled>Quantidade</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                </select></p>
             <!--  <a href="#"><img class="lixeira1" src="img/imgLogin/lixeira.png" alt="lixeira"></a> -->
            </form>
          </div>
        </section>
        <div class="resumo-compra">
          <div class="resumo-compra-elements"></div>
          <p>
          <h1>Resumo da Compra</h1>
          </p>
          <p>Subtotal</p>
          <p>R$</p>
          <!--Input com valor individual dos itens selecionados, JavaScript-->
          <p>TOTAL</p>
          <p>R$</p>
          <!--Input com soma dos valores dos itens selecionados, JavaScript-->
          <p><button class="finalizar" style="color: black;">FINALIZAR COMPRA</button></p>
          <p><button class="continuar" style="color: black;"><a href="/produtos">Continuar Comprando</a> </button></p>
        </div>
      </div>
      <!--         <div class="carrosel-container">
          <h1> Recomendados para você</h1>
          <a href="#"><img class="setas" src="public/img/imgLogin/setaEsquerda.png" alt="setaE"></a> 
          <a href="#"><img class="tenis-carrossel" src="./img/imgLogin/tenis(4).jpg" alt="tenis1"></a>
          <a href="#"><img class="tenis-carrossel" src="./img/imgLogin/tenis(2).jpg" alt="tenis2"></a>
          <a href="#"><img class="tenis-carrossel" src="./img/imgLogin/tenis(3).jpg" alt="tenis3"></a>
        </div> -->
    </main>
    <script type="text/javascript" src="/js/sacola.js"></script>


    <%- include("./partials/footer") %>
</body>

</html>