body {
  max-width: 100%;
  height: 100vh;
}

.link2 {
  background-color: yellow;
}

.submenu {
  display: block;
  align-items: center;
}

.minhaConta-menu {
  text-decoration: none;
  width: 100%;
  gap: 5px;
}

.minhaConta {
  width: 50%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  text-align: left;
  margin-left: 40px;
}

.meuPerfil ul {
  margin-top: 100px;
}

.meuPerfil {
  background-color: yellow;
  height: 35rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  align-items: center;
  text-align: center;
}

.minhaConta ul {
  margin-top: 180px;
}

.container {
  display: flex;
}

.container2 {
  display: flex;
  margin-left: 5%;
}

.perfil {
  text-decoration: none;
  list-style: none;
}