.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 12%;
  margin-left: 5%;
}

.link1 {
  background-color: yellow;
}

.Minhaconta {
  text-decoration: none;
  list-style: none;
}

.Meuperfil {
  text-decoration: none;
  list-style: none;
  margin-left: 5%;
  
}
.container2 {
  display: flex;
  margin-left: 5%;
  
}

.perfil{
  text-decoration: none;
  list-style: none;
}