body{
  margin-top: 90px;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link2 {
  background-color: yellow;
}

.submenu {
  display: block;
  align-items: center;
}
.minhaConta-menu {
  text-decoration: none;
  width: 100%;
  gap: 5px;
}

.minhaConta {
  width: 50%;
  height:25rem;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  text-align: left;
  margin-left: 40px;
}

.meuPerfil {
  background-color: yellow;
  height:27.5rem;
  width: 50%;
  display:flex;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  align-items: center;
  text-align: center;
}
.container2 {
  display: flex;
  margin-left: 5%;
  
}

.perfil{
  text-decoration: none;
  list-style: none;
}