h1 {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCC01;
    margin-top: 6.5%;

}
.paginaPrincipal {
    display: inline-flex;
    margin-bottom: 6%;
}

.menuLateral {
    width: 350px;
    align-items: left;
    margin-left: 10px;
}

.produtos-femininos {
    width: 400px;
}

.tituloFiltro {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    text-align:center ;
    width: 350px;
}

.container {
    width: 100%;
    height: 7rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-radio {
    font-size: larger;
    width: 100%;
    margin: 3%;
}

.card {
    border: #FFCC01 2px solid;
    padding: 5%;
}

.desc {
    text-transform: none;
    color: black; 
}
