body {
  max-width: 100%;
  height: 100vh;
}

h1 {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCC01;
    margin-top: 6.5%;

}
.paginaPrincipal {
    display: inline-flex;
    margin-bottom: 6%;
}

.menuLateral {
    width: 350px;
    align-items: left;
    margin-left: 10px;
}

.produtos-femininos {
    width: 400px;
}

.tituloFiltro {
    font-family: montserrat, sans-serif;
    font-weight: 700;
    font-style: bold;
    text-align:center ;
    width: 350px;
}

.container {
    width: 100%;
    height: 7rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-radio {
    font-size: larger;
    width: 100%;
    margin: 3%;
}

.card {
    border: #FFCC01 2px solid;
    padding: 5%;
}

.desc {
    text-transform: none;
    color: black; 
}

.container-card {
    display: flex;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .container-card a {
    display: block;
  }
  
  .container-card_image {
    border-bottom: 1px solid var(--light-gray);
  }
  
  .container-card_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container-card_data h2 {
    font-size: 2.4em;
    font-weight: 300;
    margin: 0;
  }
  
  .container-card_data span {
    font-size: 1.5em;
    font-weight: 300;
    color: var(--green);
    margin: 0 0 0 10px;
  }
  
  .container-card_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .container-card_data i {
    color: var(--green);
    font-size: 1.8em;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  
  .container-card:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  
  .container-card:hover p {
    height: 40px;
    margin-top: 15px;
  }
  
  .container-card:hover i {
    transform: rotate(360deg);
    box-shadow: 0 0 5px var(--green);
  }
  